@import url(http://fonts.googleapis.com/css?family=Signika:400,700);

body {
  background-image: url('houseparty.jpg');
  background-size: cover;
  font-family: 'Signika', helvetica, sans-serif;
  color: #84271e;
}

header {
  background-color: #e74c3c;
  border-radius: 10px;
  float: right;
  margin-right: 1%;
  text-align: center;
}

h1 {
  font-size: 5em;
}

button {
  width: 40%;
  height: 130px;
  font-size: 2em;
  color: #3498db;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}

button:focus {
  outline: none;
}

img {
  width: 300px;
}

#pilgrim {
  position: absolute;
  bottom: 0;
  display: none;
}

#puppeteer {
  position: absolute;
  bottom: 0;
  right: 100px;
  display: none;
}

#gagnam {
  position: absolute;
  bottom: 0;
  left: 50px;
  display: none;
}

#film {
  position: absolute;
  bottom: 200px;
  z-index: -1;
  left: 250px;
  display: none;
}

#bouncer {
  position: absolute;
  bottom: 90px;
  right: 100px;
  z-index: -2;
  display: none;
}

#adventure {
  position: absolute;
  bottom: 250px;
  left: 500px;
  display: none;
}

#pusheen {
  position: absolute;
  bottom: 0;
  left: 250px;
  z-index: 2;
  display: none;
}

#gangnam {
  position: absolute;
  bottom: 20px;
  left: 500px;
  z-index: 3;
  display: none;
}

